@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
}

.link {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  transition: background-color 0.2s;
}

.link:hover {
  background-color: #aaa;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 100px 20%;
  padding: 50px;
  border: thin solid #555;
  border-radius: 3px;
}

label {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input,
select {
  padding: 5px;
  flex: 1;
  margin-left: 10px
}

button {
  border: thin solid black;
  border-radius: 5px;
  background-color: #00704a;
  color: #fff;
  padding: 3px;
  font-size: 120%;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: #004e34;
}

.allEntries {
  width: 80%;
  margin: 0 10%;
}

.entry {
  border: thin solid black;
  padding: 10px;
  margin: 5px 0;
  transition: background-color 0.2s;
  display: flex;
  flex-direction: column;
}

.entry:hover {
  background-color: #e9e8e8;
}
